/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 16px;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/**** BASE ****/

.root {
  margin: 0;
  font-size: 16px;
}

.page {
  min-width: 360px;
  width: 100%;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  color: #e2e3ed;
  background-color: #202322;
}

.header, .footer, .hero, .subscribe, .features, .reviews, .faq, .mission, .map, .contact-section {
  margin: 0;
  width: max(360px, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.section-wrapper {
  width: clamp(320px, 90%, 640px);
}

.section-title, .section-title_lrg {
  font-size: clamp(1.75rem, 7.78vw, 2.25rem);
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.card-title {
  font-size: clamp(1rem, 4.44vw, 1.3rem);
  font-weight: 500;
  font-family: 'Poppins', sans-serif;

  text-transform: capitalize;
}

.card-text {
  font-size: .875rem;
}

a {
  color: #e2e3ed;
  text-decoration: none;
}

address {
  font-style: normal;
}

/*** HEADER ***/

.header__wrapper {
  width: clamp(320px, 100%, 640px);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.unplugged-logo, .nav {
  padding: 15px 0;
  width: clamp(220px, 60%, 220px);
}

.header__divider {
  width: 100%;
  height: 1px;
  background-color: #3a3a3a;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

@media screen and (min-width: 489px) {
  .header__wrapper {
    padding: max((30px - 15 * ((100vw - 768px)/432)), 15px) 0;
    width: min(90%, 640px);

    justify-content: space-between;
  }

  .unplugged-logo {
    padding: 0;
    width: min(34%, 285px);
  }

  .header__divider {
    display: none;
  }

  .nav {
    padding: 0;
    width: clamp(120px, 20%, 140px)
  }

  .nav__list {
    justify-content: space-between;

  }
}

/*** MAIN ***/

/** HERO **/

.hero__title {
  margin: clamp(55px, 17%, 105px) 0 0 0;
  max-width: max(640px, 85%);
  text-align: left;

  font-size: clamp(2.25rem, 10vw, 3rem);
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

/** SUBSCRIBE **/

.subscribe {
  background-color: #527158;
}

.subscribe__wrapper {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.subscribe__cards {
  max-width: 800px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
}

.subscribe__card {
  flex: 1 1 250px;
  display: flex;
  flex-flow: column nowrap;
}

.subscribe__card_form {
  margin-top: 30px;
}

.subscribe__title {
  margin: 0 0 20px;
}

.subscribe__paragraph {
  margin: 0;
}

.subscribe__email {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}

.subscribe__submit {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 556px) {
  .subscribe__card {
    margin: 0;
    max-width: clamp(225px, 45%, 320px);
    align-items: baseline;
  }
}

/** FEATURES **/

.features__wrapper {
  padding: min(12.5%, 100px) 0;
  display: flex;
  flex-flow: column nowrap;

}

.features__title {
  margin: 0 0 30px;
}

.features__list {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
}

.features__item {
  flex: 1 1 320px;
  margin: 25px auto;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.features__icon {
  padding: 30px 0;
}

.features__text {
  padding: 20px 0;
  margin: 0;
  width: 62.5%;
}


/** REVIEWS **/

.reviews {
  background-color: #2a423a;
}

.reviews__wrapper {
  padding: min(12.5%, 100px) 0;
  display: flex;
  flex-flow: column nowrap;
}

.reviews__title {
  margin: 0 0 26px;
  width: max(320px, 80%);
  text-align: left;
}

.reviews__card {
  width: max(320px, 100%);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
}

.reviews__item {
  flex: 1 1 320px;

  margin: 0;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
}

.reviews__item_image {
  margin: 0 0 20px;
}

@media screen and (min-width: 712px) {
  .reviews__item_text > * {
    padding: 0 6.25%;
  }
}

.reviews__card-title {
  margin: 0 0 max(24px, 3.1%);
}

.reviews__paragraph {
  margin: 0;
}




/*** FAQ PAGE ***/

/** FAQ **/

.faq {
  background-color: #527158;
}

.faq__wrapper {
  padding: min(14%, 100px) 0;
  display: flex;
  flex-flow: column nowrap;
}

.faq__title {
  margin: 0;
}

.faq__list {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.faq__item{
  flex: 1 1 320px;
  margin: max(75px - 7.8%, 33px) 0 0;
}

  .faq__item-title {
    margin: 0 0 17px;
  }

  .faq__item-text {
    margin: 0;
  }

@media screen and (min-width: 712px) {
  .faq__item {
    max-width: 46%;
  }

  .faq__item-title {
    margin-left: 2px;
  }
}

/*** ABOUT PAGE ***/

/** MISSION **/

.mission {
  background-color: #527158;
}

.mission__wrapper {
  padding: min(14%, 100px) 0;
  display: flex;
  flex-flow: column nowrap;
}

.mission__title {
  margin: 0 0 min(6.25%, 40px);
}

.mission__text {
  margin: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.mission__paragraph {
  flex: 1 1 320px;
  margin: 0 0 20px;
}

  .mission__paragraph:last-of-type {
    margin: 0;
  }

@media screen and (min-width: 712px) {
  .mission__paragraph {
    margin: 0;
    max-width: 48%;
  }
}


/** CONTACT-SECTION **/

.contact-section {
  background-color: #2a423a;
}

.contact-section__wrapper {
  padding: min(12.5%, 100px) 0;
  display: flex;
  flex-flow: column nowrap;
}

.contact-section__title {
  margin: 0 0 min(-36px + 15%, 55px);
}

.contact-section__list {
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
}

.contact-section__item {
  flex: 1 1 280px;
  margin: 0 0 18px;
}

  .contact-section__item:last-of-type {
    margin: 0;
  }

.contact-section .card-title {
  margin: 0 0 min(4.44%, 20px);
}

.contact-section__text > * {
  margin: 0;
}


@media screen and (min-width: 600px) {
  .contact-section__item {
    margin: 0;
    max-width: 48%;
  }

  .contact-section .card-title {
    margin: 0 0 20px;
  }
}

/*** FOOTER ***/

.footer__wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.footer__cards {
  padding: clamp(25px, 7.8%, 50px) 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
}

@media screen and (min-width: 534px) {
  .footer__cards {
    justify-content: space-between;
  }
}

.footer__card {
  flex: 1 1 240px;
  padding: clamp(25px, 7.8%, 50px) 0;
  max-width: 320px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.footer__card > * {
  text-align: center;
}

.footer__list {
  padding: 0;
  width: 75%;
  list-style: none;
}

.footer__list_social {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.footer__copyright {
  margin: 0;
  padding: 0 0 min(2.1%, 10px);
  align-items: center;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

/* LAYOUT ASSIST
.header, .footer {background-color: darkgrey}
.main {background-color: lightgrey}

.header__wrapper, .footer__wrapper {background-color: white}
.hero__wrapper {background-color: lightgreen}
.subscribe__wrapper {background-color: lightsalmon}
.features__wrapper {background-color: lightskyblue}
.reviews__wrapper {background-color: lightgoldenrodyellow}
.faq__wrapper {background-color: lightseagreen}
.mission__wrapper {background-color: lightpink}
.contact-section__wrapper {background-color: lightblue}

.section-wrapper > * {box-shadow: 0 0 2px black}
*/


@media only screen and (min-width: 768px) {
  .header__wrapper, .section-wrapper {
    width: min(83.34%, 960px);
  }

  .hero__title {
    font-size: min(6.25vw, 3.75rem);
  }

  .section-title_lrg {
    font-size: min(4.69vw, 2.75rem);
  }

  .card-title {
    font-size: min(2.7vw, 1.7rem);
  }

  .card-text {
    font-size: clamp(.875rem, 1.82vw, 1rem);
  }

  .faq__item {
    flex: 1 1 321px;
  }

  .mission__title {
    margin: 0 0 max(80px - 6.25%, 20px);
  }

  .contact-section__title {
    margin: 0 0 max(110px - 8.6%, 26px);
  }

  .contact-section .card-title {
    margin: 0 0 min(6.9%, 40px);
  }

  .footer__copyright {
    padding: min(1.6%, 14px);
  }
}


@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

